<!--<div *ngIf="loading" class="spinner-border spinner-container" role="status">
    <span class="visually-hidden">Loading...</span>
</div>-->
<div *ngIf="loading" class="spinner-container text-center">
    <img src="https://i.gifer.com/Wx78.gif" alt="">
</div>
<div class="row">
    <app-film class="col-4 mt-2" *ngFor="let f of filmList" [film]="f" (filmClick)="openModal($event, modalFilm)">
    </app-film>
</div>
<ng-template #modalFilm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">More Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="loadingModal" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <form>
            <div class="mb-3">
                <p>{{filmDetails.title}}</p>
                <p *ngIf="loadingModal!"><strong>Characters</strong></p>
                <ul>
                    <li *ngFor="let character of filmDetails.characters">{{character}}</li>
                </ul>
            </div>
        </form>
    </div>
</ng-template>